@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome : akshay saini</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div style="color:red; ">
    <h3>@ViewBag.t5</h3>
    <h3>@ViewBag.t6</h3>
    <h3>@ViewBag.t7</h3>
    <h3>@ViewBag.t8</h3>
    <h3>@ViewBag.t9</h3>
</div>

<h1>ViewData</h1>
<div style="color:forestgreen">
    <h2>@ViewData["a1"]</h2>
    <h2>@ViewData["a2"]</h2>
    <h2>@ViewData["a3"]</h2>
    <h2>@ViewData["a4"]</h2>
    <h2>@ViewData["a5"]</h2>

</div>
<h1>TempData</h1>
<div style="color:blue;">
    <h2>@TempData["s1"]</h2>
    <h2>@TempData["s2"]</h2>
    <h2>@TempData["s3"]</h2>
    <h2>@TempData["s4"]</h2>
    <h2>@TempData["s5"]</h2>

</div>